---
layout: markdown_page
title: "GitLab Learn: Continuous Integration"
description: "Build your Continous Integration knowledge with GitLab-produced learning content!"
canonical_path: "/learn/use-case/continuous-integration/"
---

## GitLab Continuous Integration courses

<% data.learn.learn.select{|course| course.use_case == "Continuous Integration"}.sort_by(&:name).each do |course| %>
<%= "- [#{course.name}](#{course.url})" %>
<% end %>
